body {
    background-color: rgb(201, 12, 12);
    font-family : helvetica
}

.coriscodev{
    font-size:5vw;
    margin:0%;
    line-height:12vw;
    height:12vw

}
    .corisco {
    font-size:15vw;
    }

.menu {
    overflow: hidden;

  }
  .menu a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 2vw 1vw;
    text-decoration: none;
    font-size: 3vw;
  }
  .menu a:hover {
    color: rgb(222, 215, 22);
  }
  
  .menu a.active {
    color: rgb(222, 215, 22);
  }

  .quickmsg{
    display:inline-block;
    color: #ffffff;
    font-size: 3vw;
  }

.areas {
  background-color:#df575e;
  color:rgb(222, 215, 22);
  font-family:Helvetica
}