body {
    background-color: rgb(201, 12, 12);
    font-family : helvetica
}

.coriscodev{
    font-size:4rem;
    margin: -30px 0px

}
    .corisco {
    font-size:10rem;
    }

.menu {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 650px;
/*     background-color:black; */
    margin: 15px -10px;
    padding: 0;
    border: 0;

  }
  .menu a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0px 1.5rem;
    text-decoration: none;
    font-size: 2rem;
  }
  .menu a:hover {
    color: rgb(222, 215, 22);
  }
  
  .menu a.active {
    color: rgb(222, 215, 22);
  }

.quickmsg{
  display:inline-block;
  color: #ffffff;
  font-size: 1.5rem;
}

input[type="email"],
input[type="text"] {
  width:300px;
  height:30px;
}

.areas:focus{
  outline: none;
  box-shadow: 0vw 0 1vw 0.5vw rgb(222, 215, 22) ;
  border:0.001vw solid rgb(222, 215, 22)
}

.areas {
  background-color:#df575e;
  color:rgb(0, 0, 0);
  font-family:Helvetica;
  font-size: 1rem;
  display: block;
  border : 0;
}

.submit {
  background-color: rgb(255, 255, 255);
  color: black;
  display: block;
  width:75px;
  font-size: 1.2em;
  height: 40px;
}

.submit:hover{
  background-color: rgb(222, 215, 22);
  cursor:pointer
}

fieldset {
   border:none; 
}
